node_modules/
.next/
out/
build/
dist/

.env
.env.local
.env*.local

.DS_Store
*.log
npm-debug.log*
yarn-error.log*

coverage/
playwright-report/
test-results/
.vercel/
.turbo/
*.tsbuildinfo

# Artefak database lokal
*.dump
supabase/.branches/
supabase/.temp/

# Next.js
next-env.d.ts
